<h1>Nouvel enregistrement</h1>
<form action="" method="post">
    <label for="unname">Nom</label>
    <input type="text" id="unname" name="nom">

    <label for="date">Date</label>
    <input type="text" id="date" name="date">

    <label for="emprunt">Emprunté par</label>
    <input type="text" id="emprunt" name="emprunte_par">

    <label for="dispo">Disponibilite</label>
    <input type="text" id="dispo" name="disponibilite">
    
    <label for="comment">Comments</label>
    <input type="text" id="comment" name="comments">

    <input type="submit" value="Enregistrer">
</form>