<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <h1>Produits enregistrés</h1>
    <ul>
        <%if (typeof products != 'undefined') { %>
            <% products.forEach(function(product) { %>
                <%- include('../products/show_one',{product:product}); %>
            <% }); %>
        <% } %>
    </ul>

    <% include ../products/create_one %>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
